<div class="container clearfix">

    <div class="section-header text-center testing class" style="background-image: url('{{ 'keni-gradient-bg-lg-7.jpg' | asset_img_url: 'master' }}'); padding: 30px 0 30px 0; border: 1px solid #444;">
      <h2 style="margin: auto auto;">About Us</h2>
    </div>

    <div class="col_one_third">
        <div class="fancy-title title-border">
            <h4>About Us</h4>
        </div>
        <p>Jane Jacobs educate, leverage affiliate Martin Luther King Jr. agriculture conflict resolution dignity. Cooperation international progress non-partisan lasting change meaningful.</p>
    </div>

    <div class="col_one_third subscribe-widget">
        <div class="fancy-title title-border">
            <h4>Subscribe for Offers</h4>
        </div>
        <p>Subscribe to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</p>
        <div class="widget-subscribe-form-result"></div>
        <form id="widget-subscribe-form2" action="include/subscribe.php" method="post" class="nobottommargin">
            <div class="input-group divcenter">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-email2"></i></div>
                </div>
                <input type="email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">Subscribe</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col_one_third col_last">
        <div class="fancy-title title-border">
            <h4>Connect with Us</h4>
        </div>

        <a href="#" class="social-icon si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
            <i class="icon-facebook" style="background-color: #fff !important;"></i>
            <i class="icon-facebook"></i>
        </a>

        <a href="#" class="social-icon si-delicious" data-toggle="tooltip" data-placement="top" title="Delicious">
            <i class="icon-delicious"></i>
            <i class="icon-delicious"></i>
        </a>

        <a href="#" class="social-icon si-paypal" data-toggle="tooltip" data-placement="top" title="PayPal">
            <i class="icon-paypal"></i>
            <i class="icon-paypal"></i>
        </a>

        <a href="#" class="social-icon si-flattr" data-toggle="tooltip" data-placement="top" title="Flattr">
            <i class="icon-flattr"></i>
            <i class="icon-flattr"></i>
        </a>

        <a href="#" class="social-icon si-android" data-toggle="tooltip" data-placement="top" title="Android">
            <i class="icon-android"></i>
            <i class="icon-android"></i>
        </a>

        <a href="#" class="social-icon si-smashmag" data-toggle="tooltip" data-placement="top" title="Smashing Magazine">
            <i class="icon-smashmag"></i>
            <i class="icon-smashmag"></i>
        </a>

        <a href="#" class="social-icon si-gplus" data-toggle="tooltip" data-placement="top" title="Google+">
            <i class="icon-gplus"></i>
            <i class="icon-gplus"></i>
        </a>

        <a href="#" class="social-icon si-wikipedia" data-toggle="tooltip" data-placement="top" title="Wikipedia">
            <i class="icon-wikipedia"></i>
            <i class="icon-wikipedia"></i>
        </a>

        <a href="#" class="social-icon si-stumbleupon" data-toggle="tooltip" data-placement="top" title="StumbleUpon">
            <i class="icon-stumbleupon"></i>
            <i class="icon-stumbleupon"></i>
        </a>

        <a href="#" class="social-icon si-foursquare" data-toggle="tooltip" data-placement="top" title="FourSquare">
            <i class="icon-foursquare"></i>
            <i class="icon-foursquare"></i>
        </a>

        <a href="#" class="social-icon si-call" data-toggle="tooltip" data-placement="top" title="Call">
            <i class="icon-call"></i>
            <i class="icon-call"></i>
        </a>

        <a href="#" class="social-icon si-ninetyninedesigns" data-toggle="tooltip" data-placement="top" title="Ninety Nine Design">
            <i class="icon-ninetyninedesigns"></i>
            <i class="icon-ninetyninedesigns"></i>
        </a>

        <a href="#" class="social-icon si-forrst" data-toggle="tooltip" data-placement="top" title="Forrst">
            <i class="icon-forrst"></i>
            <i class="icon-forrst"></i>
        </a>

        <a href="#" class="social-icon si-digg" data-toggle="tooltip" data-placement="top" title="Digg">
            <i class="icon-digg"></i>
            <i class="icon-digg"></i>
        </a>
    </div>

    <div class="clear"></div>
</div>


{% schema %}
  {
    "name": "About Section",
    "settings": [],
	"presets": [
      {
        "category": "About",
        "name": "About Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
