<div class="container clearfix">
    <div class="col_one_third bottommargin-lg">
        <div class="feature-box center media-box fbox-bg">
            <div class="fbox-media">
                <img src="{{ 'banner-10.jpg' | asset_img_url: 'master'}}" alt="Image">
            </div>
            <div class="fbox-desc">
                <h3>Men's Footwear<span class="subtitle">Flat 50% Off*</span></h3>
                <p><a href="#" class="btn btn-secondary">Shop Now</a></p>
            </div>
        </div>
    </div>

    <div class="col_one_third bottommargin-lg">
        <div class="feature-box center media-box fbox-bg">
            <div class="fbox-media">
                <img src="{{ 'banner-11.jpg' | asset_img_url: 'master'}}" alt="Image">
            </div>
            <div class="fbox-desc">
                <h3>Latest Product Arrivals<span class="subtitle">New Dress Designs Available</span></h3>
                <p><a href="#" class="btn btn-secondary">Check New Arrivals</a></p>
            </div>
        </div>
    </div>

    <div class="col_one_third bottommargin-lg col_last">
        <div class="feature-box center media-box fbox-bg">
            <div class="fbox-media">
                <img src="{{ 'banner-12.jpg' | asset_img_url: 'master'}}" alt="Image">
            </div>
            <div class="fbox-desc">
                <h3>The Style Blog<span class="subtitle">Fashion Tips from Experts</span></h3>
                <p><a href="#" class="btn btn-secondary">Browse Videos</a></p>
            </div>
        </div>
    </div>
</div>



{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
