<div class="si-sticky si-sticky-right d-none d-lg-block">
    <a href="#" class="social-icon si-colored si-facebook" data-animate="bounceInRight">
        <i class="icon-facebook"></i>
        <i class="icon-facebook"></i>
    </a>
    <!-- <a href="#" class="social-icon si-colored si-twitter" data-animate="bounceInRight" data-delay="100">
        <i class="icon-twitter"></i>
        <i class="icon-twitter"></i>
    </a>
    <a href="#" class="social-icon si-colored si-pinterest" data-animate="bounceInRight" data-delay="200">
        <i class="icon-pinterest"></i>
        <i class="icon-pinterest"></i>
    </a> -->
    <a href="#" class="social-icon si-colored si-instagram" data-animate="bounceInRight" data-delay="300">
        <i class="icon-instagram"></i>
        <i class="icon-instagram"></i>
    </a>
    <!-- <a href="#" class="social-icon si-colored si-gplus" data-animate="bounceInRight" data-delay="600">
        <i class="icon-gplus"></i>
        <i class="icon-gplus"></i>
    </a>
    <a href="#" class="social-icon si-colored si-rss" data-animate="bounceInRight" data-delay="700">
        <i class="icon-rss"></i>
        <i class="icon-rss"></i>
    </a> -->
</div>



{% schema %}
  {
    "name": "Social Button",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
